<html>
    <head>
        <title>Demo Map</title>
        <script type="text/javascript" src="static/js/jquery-1.3.2.js"></script>
        <script type="text/javascript" src="http://openlayers.org/api/2.8-rc1/OpenLayers.js"></script>
        <script type="text/javascript" src="static/js/demo_map.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            createMap('map'); 
        });
        </script>
    </head>

    <body>
        <div id="map"></div>
    </body>
</html>

