<html>
    <head>
        <title>Demo Map</title>
        <link type="text/css" href="static/css/style.css" rel="Stylesheet" />
        <link type="text/css" href="static/css/excite-bike/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
        <script type="text/javascript" src="static/js/jquery-1.3.2.js"></script>
        <script type="text/javascript" src="static/js/jquery-ui-1.7.1.js"></script>
        <script type="text/javascript" src="http://openlayers.org/api/2.8/OpenLayers.js"></script>
        <script type="text/javascript" src="static/js/demo_map.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#pause-play-btn').hide();
            map = createMap('map');

            // Forbid setting the checkboxes illogically
            $('#show-error-lines').click(function() {
                if ($(this).is(':checked')) {
                    $('#snap-to-roads').attr('checked', false);
                    $('#snap-to-roads').attr('disabled', true);
                } else {
                    $('#snap-to-roads').attr('disabled', false);
                }
            });

            $('#snap-to-roads').click(function() {
                if ($(this).is(':checked')) {
                    $('#show-error-lines').attr('checked', false);
                    $('#show-error-lines').attr('disabled', true);
                } else {
                    $('#show-error-lines').attr('disabled', false);
                }
            });

            $('#load-btn').click(function() {
                var busId = $('#bus-select').get(0).value;
                var busObsUrl = 'kml?bus_id=' + busId;
                if ($('#show-intersections').is(':checked')) {
                    busObsUrl += '&show_intersections';
                }
                if ($('#snap-to-roads').is(':checked')) {
                    busObsUrl += '&snap_to_roads';
                }
                if ($('#show-error-lines').is(':checked')) {
                    busObsUrl += '&show_error_lines';
                }
                var animateData = $('#animate-data').is(':checked');
                loadBusData(busObsUrl, 'bus ' + busId, animateData);

                if ($('#show-route').is(':checked')) {
                    var routeUrl = 'route_kml?bus_id=' + busId;
                    var layer = loadKml(routeUrl, busId + "_route");
                    layer.events.register('loadend', layer, function() {
                        map.zoomToExtent(layer.getDataExtent());
                    });
                }
            });
        });
        </script>
    </head>

    <body>
        <p>This map displays plots of bus location data. Select a bus from the
        popup menu, check the boxes you wish, and then click "Load Data". If
        you have selected the "Animate data" option, you will need to press the
        "Play" button below the map after the data has loaded.</p>
        <form>
            <label for="bus-select">Bus:</label>
            <select name="bus-select" id="bus-select">
                {% for bus in buses %}
                <option value="{{ bus.id }}">{{ bus }}</option>
                {% endfor %}
            </select>
            <span class="form-item">
                <input type="checkbox" id="show-route" class="checkbox" checked />
                <label for="show-route">Show route</label>
            </span>
            <span class="form-item alternate">
                <input type="checkbox" id="show-intersections" class="checkbox" />
                <label for="show-intersections">Show intersections</label>
            </span>
            <span class="form-item">
                <input type="checkbox" id="snap-to-roads" class="checkbox" />
                <label for="snap-to-roads">Snap to roads</label>
            </span>
            <span class="form-item alternate">
                <input type="checkbox" id="show-error-lines" class="checkbox" />
                <label for="show-error-lines">Show error lines</label>
            </span>
            <span class="form-item">
                <input type="checkbox" id="animate-data" class="checkbox" />
                <label for="animate_data">Animate data</label>
            </span>
            <input type="button" id="load-btn" value="Load Data" />
        </form>
        <div id="map"></div>
        <a href="#" id="pause-play-btn">Play</a>
        <div id="time-slider"></div>
    </body>
</html>

