<html>
    <head>
        <title>Demo Map</title>
        <link type="text/css" href="static/css/style.css" rel="Stylesheet" />
        <link type="text/css" href="static/css/excite-bike/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
        <script type="text/javascript" src="static/js/jquery-1.3.2.js"></script>
        <script type="text/javascript" src="static/js/jquery-ui-1.7.1.js"></script>
        <script type="text/javascript" src="http://openlayers.org/api/2.8-rc1/OpenLayers.js"></script>
        <script type="text/javascript" src="static/js/demo_map.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#pause-play-btn').hide();
            map = createMap('map');

            $('#load-btn').click(function() {
                var busId = $('#bus-select').get(0).value;
                var busObsUrl = 'kml?bus_id=' + busId;
                if ($('#show-intersections').is(':checked')) {
                    busObsUrl += '&show_intersections';
                }
                if ($('#snap-to-roads').is(':checked')) {
                    busObsUrl += '&snap_to_roads';
                }
                loadBusData(busObsUrl, 'bus ' + busId);

                if ($('#show-route').is(':checked')) {
                    var routeUrl = 'route_kml?bus_id=' + busId;
                    var layer = loadKml(routeUrl, busId + "_route");
                    layer.events.register('loadend', layer, function() {
                        map.zoomToExtent(layer.getDataExtent());
                    });
                }
            });
        });
        </script>
    </head>

    <body>
        <p>This map displays plots of bus location data. Select a bus from the
        popup menu below and then click "Load Data". After the data has loaded
        you can press the "Play" button on the bottom of the screen to watch an
        animation of the bus data.</p>
        <form>
            <label for="bus-select">Bus:</label>
            <select name="bus-select" id="bus-select">
                {% for bus in buses %}
                <option value="{{ bus.id }}">{{ bus }}</option>
                {% endfor %}
            </select>
            <span class="form-item">
                <input type="checkbox" id="show-route" class="checkbox" checked />
                <label for="show-route">Show route</label>
            </span>
            <span class="form-item alternate">
                <input type="checkbox" id="show-intersections" class="checkbox" />
                <label for="show-intersections">Show intersections</label>
            </span>
            <span class="form-item">
                <input type="checkbox" id="snap-to-roads" class="checkbox" checked/>
                <label for="snap-to-roads">Snap to roads</label>
            </span>
            <input type="button" id="load-btn" value="Load Data" />
        </form>
        <div id="map"></div>
        <a href="#" id="pause-play-btn">Play</a>
        <div id="time-slider"></div>
    </body>
</html>

